@import url('https://fonts.googleapis.com/css?family=Roboto|Russo+One|Ubuntu');

.cards {
  text-align: center;
}

h1  {
  text-align: center;
  font-size: 70px;
  font-family: 'Russo One', sans-serif;
}

.btn, h2, ul, p {
  font-family: 'Russo One', sans-serif;
}

h2 {
  font-size: 20px;
}

.jumbotron{
  background-color: #900;
  color: #fffe00;
}

#showCard {
  margin-left: -2.5em;
}

.hitButton {
  background-color: red;
}

.stayButton {
  color: white;
  background-color: blue;
}

.betButton {
  background-color: yellow;
}

.shuffleButton {
  color: white;
  background-color: black;
}

.playButton {
  font-size: 50px;
  color: red;
  background-color: transparent;
  margin-left: 480px;
  margin-top: 150px;
}

.betBox, p{
  float: right;
  color: black;
}


label{
  font-size: 20px;
}
#makeWager{
  font-size: 18px;
}

body {
  background-image: url(https://wizardofodds.com/play/blackjack-v2/table.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-attachment: fixed;*/
  color:white;
}

#betWell {
  float: right;
}
#emptyBox{
  width:1px;
  height: 2em;
}

.well {
  /*margin-left: -50px;*/
  font-size: 11px;
  opacity: 0.9;
  border-radius: 5px;
  background-color: #900;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.actionButtons {
  text-align: center;
  margin-top: 15px;
  margin-right: 200px;
}

.card.back {
  background-size: 100%;
}
.card.backNew{
  background-size: 100%;
}

#dealerDeck {
  float: left;
}

#playerHandTarget, #dealerHand, .actionButtons {
  display: none;

}
#playerHandTarget {
  margin-left: -111px;
}
#actionOutput {
  text-align: center;
  font-size: 26px;
  color: #900;
  font-family: 'Russo One', sans-serif;
  margin-right: 250px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
div .actionBox{
  height: 50px;
}

#playerHandTarget, #dealerHand, .actionButtons, #betWell, #rulesDiv {
  display: none;
}

.greyedOut {
  background-color: rgba(255,255,255, .25 );
  color: rgba(255,255,255, .00 );
}

/*font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;*/
